flow.json
[{"id":"97028cf123b2c044","type":"tab","label":"NotificationLight","disabled":false,"info":"","env":[]},{"id":"32d4fd4b0c1757f5","type":"server-state-changed","z":"97028cf123b2c044","name":"PhoneState","server":"4132d2c5.c71f6c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.oneplusnoel_phone_state","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"}],"x":110,"y":100,"wires":[["925142a33b6f81f9"]],"outputLabels":["output"]},{"id":"925142a33b6f81f9","type":"switch","z":"97028cf123b2c044","name":"state filter","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"offhook","vt":"str"},{"t":"eq","v":"ringing","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":280,"y":100,"wires":[["dd5d1484d2c1c5a5"],["63f9476331979058","dd5d1484d2c1c5a5"],["30b71e6890433b00","6873bf168bda72ab"]]},{"id":"63f9476331979058","type":"api-current-state","z":"97028cf123b2c044","name":"Spotify state","server":"4132d2c5.c71f6c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.spotify_1117065965","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":490,"y":60,"wires":[["c572a82e8c4ab806"]]},{"id":"c31906992ed9cac7","type":"api-call-service","z":"97028cf123b2c044","name":"Service call","server":"4132d2c5.c71f6c","version":3,"debugenabled":false,"service_domain":"{{domain}}","service":"{{service}}","entityId":"{{entity}}","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":890,"y":60,"wires":[[]]},{"id":"6873bf168bda72ab","type":"delay","z":"97028cf123b2c044","name":"1msg/2m","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":480,"y":160,"wires":[["3b757f2bfe3cb4b6"]]},{"id":"3b757f2bfe3cb4b6","type":"change","z":"97028cf123b2c044","name":"Save state","rules":[{"t":"set","p":"DeskLightSavedState","pt":"flow","to":"DeskLightCurrentState","tot":"global","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":160,"wires":[[]]},{"id":"30b71e6890433b00","type":"delay","z":"97028cf123b2c044","name":"200ms","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":470,"y":200,"wires":[["5bd088815596322d"]]},{"id":"5bd088815596322d","type":"change","z":"97028cf123b2c044","name":"Blue","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"on\":\"1\", \"bright\":\"100\", \"hex\":\"03AFFF0000\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":200,"wires":[["071edfb0258c79e6","aaf5673191f8a651"]]},{"id":"8ccc37bc776670c9","type":"mqtt out","z":"97028cf123b2c044","name":"Blink light","topic":"cmnd/tasmota_024263/Power","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7ee4ea2ad871d220","x":1200,"y":180,"wires":[]},{"id":"071edfb0258c79e6","type":"Tasmota Light","z":"97028cf123b2c044","broker":"f9277dad7a9806f7","device":"tasmota_024263","name":"Desk light control","outputs":1,"uidisabler":false,"fullTopic":"","cmndPrefix":"","statPrefix":"","telePrefix":"","qos":1,"retain":false,"havedimmer":true,"havetemp":true,"havecolors":true,"tempformat":"K","colorsformat":"RGB","x":910,"y":120,"wires":[["dec8f9f5e05a4fcd"]]},{"id":"39185803c2ac60e0","type":"change","z":"97028cf123b2c044","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":180,"wires":[["8ccc37bc776670c9"]]},{"id":"aaf5673191f8a651","type":"delay","z":"97028cf123b2c044","name":"","pauseType":"delay","timeout":"350","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":870,"y":180,"wires":[["39185803c2ac60e0"]]},{"id":"dd5d1484d2c1c5a5","type":"switch","z":"97028cf123b2c044","name":"Was ringing?","property":"data.old_state.state","propertyType":"msg","rules":[{"t":"eq","v":"ringing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":120,"wires":[["59e3510447d9e614"]]},{"id":"dec8f9f5e05a4fcd","type":"change","z":"97028cf123b2c044","name":"Set StateVariable","rules":[{"t":"set","p":"DeskLightCurrentState","pt":"global","to":"payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":120,"wires":[[]]},{"id":"59e3510447d9e614","type":"function","z":"97028cf123b2c044","name":"Load saved state","func":"var state = flow.get(\"DeskLightSavedState\");\nvar pwr = state.on;\nvar bri = state.bright;\nvar ct = state.ct;\nvar colors = state.colors;\nvar colorsum = Number(colors.reduce((a, b) => a + b, 0));\nvar val = null;\nvar key = null;\n\nif(colorsum == 0){\n    key = \"ct\";\n    val = ct;\n}\n\nif(colorsum > 0){\n    key = \"rgb\";\n    val = colors;\n\t}\n\nif(pwr === false){\n    msg.payload = {on:false};\n    }\nelse\n    {\n    msg.payload = {on:true,\n                   bright:bri,\n                   [key]:val\n                  };\n    }              \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":120,"wires":[["071edfb0258c79e6"]]},{"id":"c572a82e8c4ab806","type":"function","z":"97028cf123b2c044","name":"Set service type","func":"var state = msg.payload;\nmsg.domain = \"media_player\";\nmsg.entity = msg.data.entity_id;\n\nfunction CheckState(state) {\n  switch (state) {\n    case \"playing\":\n        msg.service = \"media_pause\"\n        return [msg]\n        break;\n    case \"paused\":\n        msg.service = \"media_play\"\n        return [msg];\n    default:\n      return [null]\n      console.log(\"Input not valid\")\n      ;\n  }\n}\n\nreturn CheckState(state);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":60,"wires":[["c31906992ed9cac7"]],"outputLabels":["Service call"]},{"id":"bb643e4e48711ee1","type":"link in","z":"97028cf123b2c044","name":"Doorbell","links":["bb118b2a7af0610c"],"x":280,"y":147,"wires":[["6873bf168bda72ab","c7328f02fae53171"]],"l":true},{"id":"9ce12f6f0c58cffa","type":"trigger","z":"97028cf123b2c044","name":"Pulse","op1":"3","op2":"true","op1type":"str","op2type":"bool","duration":"8","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":850,"y":240,"wires":[["8ccc37bc776670c9"],["59e3510447d9e614"]]},{"id":"c40fee19c923466f","type":"change","z":"97028cf123b2c044","name":"Yellow","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"on\":1,\"dimmer\":100,\"rgb\":\"255,200,0\"}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":240,"wires":[["9ce12f6f0c58cffa","071edfb0258c79e6"]]},{"id":"c7328f02fae53171","type":"delay","z":"97028cf123b2c044","name":"200ms","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":470,"y":240,"wires":[["c40fee19c923466f"]]},{"id":"4132d2c5.c71f6c","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"7ee4ea2ad871d220","type":"mqtt-broker","name":"MQTT Broker","broker":"mqtt://core-mosquitto","port":"1883","clientid":"NodeREDMQTT","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f9277dad7a9806f7","type":"tasmota-mqtt-broker","name":"TasmotaMQT","broker":"localhost","port":"1883","clientid":"","usetls":false,"keepalive":"60","cleansession":true}]